<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<head>
    <title>AE모니터링</title>
</head>

<body id="page-top">

<th:block layout:fragment="content">

<!-- Begin Page Content -->
<div class="container-fluid">

    SERVER URL : <input type="text" id="serverurl" name="serverurl" style="width:240px;"/>
    <span style="color:red">
        <br> ex > http:// 부터 입력 마지막 '/' 는 생략 ( http://localhost:7201 )
        <br> http://localhost:7201
        <br> http://141.164.39.105:7201
        <br> http://sandbox.procarenote.com
    </span>

    <div onclick="apiToken();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        1. accessToken 취득 API [POST]
    </div>

    <div onclick="apiAeStudy();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        2. 연구정보 [GET]
    </div>

    <div onclick="apiSubjectCreate();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        3. 연구대상자 등록 [PUT]
    </div>
    <div onclick="apiSubjectRead();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        4. 연구대상자 조회 [GET]
    </div>
    <div onclick="apiSubjectUpdate();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        5. 연구대상자 상태변경 [POST]
    </div>
    <div onclick="apiMessageReadCheck();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        6. 이상반응 메시지 확인 [POST]
    </div>
    <div onclick="apiMessageComment();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        7. 이상반응 메시지 답변 작성 [PUT]
    </div>
    <div onclick="apiAEToken();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        8. [AE System] 토큰취득 API [POST]
    </div>
    <div onclick="apiAEMessage();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        9. [AE System] 연구 대상자 증상정보 등록 [POST]
    </div>
</div>
<!-- /.container-fluid -->



<script>
    function apiToken() {
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/gateway/bethesdasoft/auth/token",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "secretKey": "911eea266daa4ea2817ab9a3a7a2c238"
            }),
            success: function (data) {
                console.log("success : " + data.code);
                console.log("success : " + data.data.accessToken);
            },
            error: function (error) {
                console.log("error : " + error);
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiAeStudy() {
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/gateway/bethesdasoft/study/AeStudy",
            "method": "GET",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJaQlZIQUwiLCJzdWIiOiJBY2Nlc3NUb2tlbiIsImlhdCI6MTYyMjEzMDU5NywiZXhwIjoxNjIyMTMwNjI3LCJpcEFkZHIiOiIxNzIuMzEuNTIuMzcifQ.3tJ7N4qImWtS-KOksQhXGKQAYlS95hUASpN9osDi-Dw",
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                query: "",
                variables: {}
            }),
            success: function (data) {
                console.log("success : " + data);
            },
            error: function (error) {
                console.log("error : " + error.code);
                console.log("error : " + error.message);
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiSubjectCreate() {
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/gateway/bethesdasoft/AeStudy/subject",
            "method": "PUT",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJaQlZIQUwiLCJzdWIiOiJBY2Nlc3NUb2tlbiIsImlhdCI6MTYyMjA5MTA5NCwiZXhwIjoxNjIyMDkxMTI0LCJpcEFkZHIiOiIxNzIuMzEuNTIuMzcifQ.7OcvJk0LRbyr02obwh-EQrS7qNPaz0Zgpy4CLOsb1VE",
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "subjectKey": "P001",
                "subjectStatus": "Ongoing",
                "mappingKeyType": "Mobile",
                "mappingKeyCode": "01011112222"
            }),
            success: function (data) {
                console.log("success : " + data);
            },
            error: function (error) {
                console.log("error : " + error.code);
                console.log("error : " + error.message);
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiSubjectRead() {
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/gateway/bethesdasoft/AeStudy/subject/PAT001",
            "method": "GET",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJaQlZIQUwiLCJzdWIiOiJBY2Nlc3NUb2tlbiIsImlhdCI6MTYyMjA5MTA5NCwiZXhwIjoxNjIyMDkxMTI0LCJpcEFkZHIiOiIxNzIuMzEuNTIuMzcifQ.7OcvJk0LRbyr02obwh-EQrS7qNPaz0Zgpy4CLOsb1VE"
            },
            success: function (data) {
                console.log("success : " + data);
            },
            error: function (error) {
                console.log("error : " + error.code);
                console.log("error : " + error.message);
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiSubjectUpdate() {
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/gateway/bethesdasoft/AeStudy/subject/PAT001/subject-status",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJaQlZIQUwiLCJzdWIiOiJBY2Nlc3NUb2tlbiIsImlhdCI6MTYyMjA5MTA5NCwiZXhwIjoxNjIyMDkxMTI0LCJpcEFkZHIiOiIxNzIuMzEuNTIuMzcifQ.7OcvJk0LRbyr02obwh-EQrS7qNPaz0Zgpy4CLOsb1VE",
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "subjectStatus": "Ongoing"
            }),
            success: function (data) {
                console.log("success : " + data);
            },
            error: function (error) {
                console.log("error : " + error.code);
                console.log("error : " + error.message);
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiMessageReadCheck() {
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "gateway/bethesdasoft/aemessage/1/message-status",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJaQlZIQUwiLCJzdWIiOiJBY2Nlc3NUb2tlbiIsImlhdCI6MTYyMjA5MTA5NCwiZXhwIjoxNjIyMDkxMTI0LCJpcEFkZHIiOiIxNzIuMzEuNTIuMzcifQ.7OcvJk0LRbyr02obwh-EQrS7qNPaz0Zgpy4CLOsb1VE"
            },
            success: function (data) {
                console.log("success : " + data.code);
                console.log("success : " + data.data.messageNo);
                console.log("success : " + data.data.messageStatus);
            },
            error: function (error) {
                console.log("error : " + error.code);
                console.log("error : " + error.message);
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiMessageComment() {
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/gateway/bethesdasoft/aemessage",
            "method": "PUT",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJaQlZIQUwiLCJzdWIiOiJBY2Nlc3NUb2tlbiIsImlhdCI6MTYyMjA5MTA5NCwiZXhwIjoxNjIyMDkxMTI0LCJpcEFkZHIiOiIxNzIuMzEuNTIuMzcifQ.7OcvJk0LRbyr02obwh-EQrS7qNPaz0Zgpy4CLOsb1VE",
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "studyCode": "AeStudy",
                "subjectKey": "TEST001",
                "mediaType": "Text",
                "body": "해열제 드시고 푹 쉬세요. 증상이 개선되지 않으면 병원에 방문해 주세요."
            }),
            success: function (data) {
                console.log("success : " + data);
            },
            error: function (error) {
                console.log("error : " + error.code);
                console.log("error : " + error.message);
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    var accessToken = "";
    function apiAEToken() {
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/oauth/token",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Authorization": "Basic YWVtb25pdG9yOlRtYzZTU1JRRXdGQXlTalhaWkV6VG1yL2MvVjBNcDRSMjE3UUJTSkpqQUk9",
                "Content-Type": "application/x-www-form-urlencoded"
            },
            "data": {
                "username": "procuratio",
                "password": "ae2021001",
                "grant_type": "password"
            },
            success: function (data) {
                console.log("success : " + data.access_token);
                accessToken = data.access_token;
            },
            error: function (error) {
                console.log("error : " + error);
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiAEMessage() {
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/aemonitors/userAeData",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer " + accessToken,
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "studyId": "0000000025",
                "prtcpntId": "0000000128",
                "message": {
                    "symptmsRegtypeCode": "140",
                    "type": "Text",
                    "symptmsCn": "LKS 테스트 진행 - 2",
                    "callPartner": "본인",
                    "symptmsRegistDe": "2020-05-25 18:20:03"
                }
            }),
            success: function (data) {
                console.log("success : " + data.studyId);
                console.log("success : " + data.prtcpntId);
                console.log("success : " + data.message.symptmsRegtypeCode);
            },
            error: function (error) {
                console.log("error : " + error);
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }
</script>

</th:block>
</body>
</html>
