<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.lnworks.monitor.mapper.StartMapper">
    <select id="getStart" parameterType="net.lnworks.monitor.domain.StartVo" resultType="net.lnworks.monitor.domain.StartVo">
        <![CDATA[
            SELECT uid, regdate, uname
            FROM tbl_members
            WHERE UNAME = '사용자1'
        ]]>
    </select>

</mapper>
